</body>
</html>

<script>

function getCookie(name) {
    let cookie = {};
    document.cookie.split(";").forEach(function (el) {
      let [cookieName, cookieValue] = el.split("=");
      cookie[cookieName.trim()] = cookieValue;
    });
    return cookie[name];
  }

  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/; SameSite=None; Secure";
  }

  function removeCookie(name) {
    document.cookie = name + "=; Max-Age=0";
  }

  function logout() {
    removeCookie("token");
    window.location.href = "/login";
  }

  window.onload = function () {
    const token = getCookie("token");
    if (token) {
      document.getElementById("login-tab").innerHTML =
        '<a onclick=logout() style="cursor: pointer;">Logout</a>';
    }
  };
</script>