<%- include('./partials/header.ejs')%>

<div id="login-container">
  <div id="left-column"></div>
  <div id="branding">
    <img src="./images/logo.png" />
    <h1>Login - Chat Application</h1>
  </div>
  <div id="login-form">
    <form id="user-login-form">
      <p class="error"></p>
      <input
        type="text"
        name="username"
        placeholder="enter mobile or email"
        value=""
      />

      <input type="password" name="password" placeholder="enter password" />
      <input type="submit" value="Login" />
    </form>
  </div>
</div>

<%- include('./partials/footer.ejs')%>

<script>
  const loginForm = document.querySelector("#user-login-form");

  loginForm.onsubmit = async (event) => {
    event.preventDefault();

    const loginData = new FormData(loginForm);

    const response = await fetch("/login", {
      method: "POST",
      body: loginData,
    });

    const result = await response.json();

    if (result.errors) {
      const errorPlaceholder = document.querySelector("p.error");
      errorPlaceholder.textContent = result.errors["common"].msg;

      errorPlaceholder.style.display = "block";
    } else {
      document.querySelector("p.error").style.display = "none";
      setCookie("token", result.token, 1);
      setCookie("role", result.user.role, 1);
      setCookie("userid", result.user._id, 1);
      setCookie("username", result.user.name, 1);
      setCookie("avatar", result.user.avatar, 1);
      window.location.href = "/inbox";
    }
  };
</script>
